.App {
  text-align: center;
  color: #000;
}

nav a {
  color: orange;
}


.tableText {
  font-weight: 300;
  font-size: 14px;
}

.editCell {
  cursor: pointer;
  color: orange;
}

.deleteCell {
  cursor: pointer;
  color: red;
}

.resultCell {
  color: red;
}