/*#FF9B00 orange
#343A40 darkgrey
#808080 lightgrey
#B1CD75 light brown-green
#C4C390 light green
*/

.App {
  text-align: center;
  color: #000;
}

nav {
  margin-top: 5px;
}

nav a {
  color: orange;
  padding: .5rem;
}

nav a:hover {
  color: orange;
  border: 1px dashed orange;
}

.tableText {
  font-weight: 300;
  font-size: 12px;
  font-family: 'Ubuntu', 'Roboto', 'Droid Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'sans-serif';
}

thead {
  background: #C4C390;
}

.editCell {
  cursor: pointer;
  color: orange;
}

.deleteCell {
  cursor: pointer;
  color: red;
}

.redText {
  color: red;
}

.blueText {
  color: blue;
}

.civilizedDropdown {
  max-width: 300px;
  margin: .5rem auto;
}

.centeredHeader {
  text-align: center;
}

.spacedButton {
  margin: .5rem auto;
}

.centeredContainer {
  margin: 0 auto;
  text-align: center;
}

.budgetSummary {
  width: fit-content;
  height: fit-content;
  border: 5px solid #B1CD75;
  margin: 1rem auto;
  padding: 10px;
  font-size: 1rem;
}

.budgetSummaryResult {
  font-size: 2rem;
}

.secondaryTitle {
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin: 2rem auto;
}

.loading {
  margin-top: 25vh;
}

@media (min-width: 768px) {
  nav {
    margin-top: 10px;
  }

  .tableText {
    font-size: 14px;
  }

}